@import url("https://fonts.googleapis.com/css?family=Open+Sans");

*:focus {
  outline: none;
}
.content-input-large {
  text-align-last: center;
  font-size: 18px;
}
a {
  transition: all 0.2s ease-in-out;
  color: var(--link-color);
  text-decoration: none;
}
a:active {
  color: var(--link-active-color);
}
pre {
  font-family: "Open Sans", sans-serif;
  white-space: pre-wrap;
  word-wrap: break-word;

  /*
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  */
}
h1,
h2,
h3,
pre,
p {
  margin: 0;
  font-weight: normal;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow: auto;
}
.content-centered {
  text-align: center;
}
.content-right {
  text-align: right;
}
.content-fade-in {
  animation: fade-in 0.4s ease-in-out;
}
.content-fade-out {
  animation: fade-out 0.1s ease-in-out;
}
.background-box {
  background-color: var(--box-color);
  box-shadow: var(--shadow);
  padding: 10px;
  margin: 10px;
  transition: all 0.2s ease-in-out;
}
.background-box-input {
  background-color: var(--box-color);
  box-shadow: var(--shadow);
  margin: 10px;
  position: relative;
}
.background-box-input input {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.background-box-disabled {
  color: var(--box-hover-color) !important;
}
.background-box-hover:hover,
.background-box-hover:active,
.background-box-hover:focus {
  background-color: var(--box-hover-color);
}
.line {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) calc(50% - 1px),
    var(--text-color) calc(50%),
    rgba(0, 0, 0, 0) calc(50% + 1px)
  );
  padding: 5px;
  margin: 10px;
}
input,
textarea,
select {
  width: 100%;
  padding: 10px;
  display: inline-block;
  box-sizing: border-box;
  background-color: var(--box-color);
  color: var(--text-color);
  border: none;
}
.radio-button {
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid var(--text-color);
  transition: all 0.05s ease-in;
  outline: none;
  margin-right: 5px;
  position: relative;
  top: 4px;
}
.radio-button:checked {
  border: 8px solid var(--box-hover-color);
}
.grid-perminant {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
@media (max-width: 1300px) {
  .grid-shrink {
    grid-template-columns: 0px repeat(4, 1fr) 0px !important;
  }
}
.location-span {
  grid-column: 1/7;
}
.location-left {
  grid-column: 1/4;
}
.location-right {
  grid-column: 4/7;
}
.location-centered {
  grid-column: 2/6;
}
.location-centered-small {
  grid-column: 3/5;
}
.location-left-small {
  grid-column: 1/3;
}
.location-left-large {
  grid-column: 1/5;
}
.location-right-small {
  grid-column: 5/7;
}
.location-right-large {
  grid-column: 3/7;
}
.location-left-tiny {
  grid-column: 1/2;
}
.location-left-giant {
  grid-column: 1/6;
}
.location-right-tiny {
  grid-column: 6/7;
}
.location-right-giant {
  grid-column: 2/7;
}
.location-left-padded {
  grid-column: 2/4;
}
.location-right-padded {
  grid-column: 4/6;
}
a:hover {
  color: var(--link-active-color);
}
@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .mobile-view {
    display: none;
  }
}
@media (max-width: 700px) {
  .grid > * {
    margin-bottom: 20px;
  }
  .desktop-view {
    display: none;
  }
  .mobile-none-margin-top {
    margin-top: 0px;
  }
  .done-button-container {
    margin-left: 25px;
    margin-right: 25px;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

:root {
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);

  --background-color: #455a64;
  --text-color: #eceff1;
  --box-color: #37474f;
  --box-hover-color: #546e7a;

  --link-color: #2196f3;
  --link-active-color: #0069c0;

  --positive: #4caf50;
  --negative: #f44336;
  --neutral: #90a4ae;

  --tba-alliance-blue: #2196f3;
  --tba-alliance-red: #f44335;
  

/* Light theme
--shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);

--background-color: #cfd8dc;
--text-color: #263238;
--box-color: #ffffff;
--box-hover-color: #babdbe;

--link-color: #2196f3;
--link-active-color: #0069c0;
*/

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

@supports (-webkit-overflow-scrolling: touch) {
  * {
    -webkit-appearance: none;
  }
}

@media (max-width: 700px) {
  .mobile-shrink {
    font-size: 0.8em;
  }
}

.trans-group-item {
  transition: all 0.5s;
}
.trans-group-enter, .trans-group-leave-to {
  opacity: 0;
}
.trans-group-leave-active {
  position: absolute;
}